body {
        margin: 0;
        text-align: center;
        font-family: Helvetica;
       /* background-image:url(bg2.jpg);
        background-size: cover;
        background-attachment: scroll; */
      }
 
.task1{
       text-align: left;
       margin-left: 15px%;
      }

.task2{
       text-align: left;
       margin-left: 15px;
       } 

.about {
      width: 70%;
}